.event-hero-wrap {
    background: #333 !important;
}

.event-hero-wrap-2 {
  background: #222;
}
.video-icon:after {
    display: block !important;
    height: 101%;
}

.video-icon:before {
    display: block !important;
    height: 101%;
}

.camera-select-header {
    color: white;
    font-size: 2rem;
    color: white;
    text-transform: lowercase;
}

.icon-chevron-down, .icon-chevron-up, .icon-chevron-right {
  background-color: #a0ffff;
  color: #321446;
  padding-top: 6px;
  padding-bottom: 4px; 
  position: relative;
  line-height: 0;
  border-radius: 100%;
  font-size: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
  top: -3px;
  left: 4px;
}


.btn > span {
  border-radius: 2px;
}

.camera-header:hover, .app-header:hover{
    color: #a0ffff;
}

/*@media (min-width: 980px) {
   .event-hero-wrap {
    padding-bottom: 15px;
} 
}*/
@media (max-width: 980px) {
   #sharesgifit {
    display: none;
} 
}
.all-header {
    display: inline-block;
    float: left;
    color: white;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.all-sponsor-logo {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-top: 25px;
}

.blue {
   /* height: 50px;*/
}



.sticky {
    background: #333;
    transition: height .2s ease-in-out;
    transition: scale .2s ease-in-out;
}
.sticky.fixed {
    transform: scale(.5 .5);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 114px;
}

.stickycontainer.fixed{
     min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 13px;
}


#trending {
    transition: top .5s ease-in-out;
}

#trending.fixed-trending {
    position: fixed;
    left:0;
    width: 100%;
    z-index: 99;
}

#trending-2 {
    transition: top .5s ease-in-out;
}

#trending-2.fixed-trending-2 {
    position: fixed;
    left:0;
    width: 100%;
    z-index: 99;
}
.greybox {
    display: inline-block;
    transition: transform .2s ease-in-out, width .2s ease-in-out, height .2s ease-in-out, margin .2s ease-in-out;
}
.greybox.fixed {
    width: 180px;
    height: 67px;
    float: left;
    margin-top: 11px;
    transition: height .1s ease-in-out;
    transition: width .1s ease-in-out;
    padding-left: 0;
}

.pinkbox {
    /*background: orange;*/
}

.pinkbox.fixed {
    width: 475px;
    float: left;
    top: 0px;
    position: fixed;
    z-index: 8;
    padding-left: 166px;
    font-size: 3.5rem;
}

.orangebox {
    /*background: orange;*/
}

.orangebox.fixed {
    width: 280px;
    height: 70px;
    float: left;
    top: 65px;
    position: fixed;
    padding-left: 178px;
}

.redbox {
    display: none;
}

.redbox.fixed {
    display: block;
    height: 70px;
    float: right;
    top: 130px;
    position: fixed;
    color: white;
    text-align: right;

    /* margin-right: 10px; */
    /* right: 10px; */
    padding-right: 25px;
    z-index: 9;
}

.jump-top {
    color: #a0ffff;
}

.jump-top:hover {
    color: white;
}

#sharesgifit.fixed {
    display: none;
}


@media (min-width: 660px) {
    .sticky.fixed, .orangebox.fixed, .redbox.fixed {
        display: block;
    }

    #trending.fixed-trending {
        top: 114px; 
    }
}

@media (max-width: 659px) {
    .sticky.fixed, .orangebox.fixed, #sharesgifit, .stickycontainer.fixed {
        display: none;
    }

    .redbox.fixed {
      top: 62px;
      float: center;
      text-align:center;
    }

    .jump-top {
       background-color:#321446;
      padding:5px;
      border-radius: 2px;
    }

    .jump-top:hover {
       background-color:#491d67;
    }
    

    #trending.fixed-trending {
        top: 0px; 
    }
}
p {
    margin-top: 20px;
    padding-left 20px;
}
.thinbox {
    float: right;
    transition: opacity .2s ease-in-out;
}
.thinbox.hide {
    opacity: 0;
}

.blackbox.hide {
  opacity: 0;
}

.sticky-header-2 {
    position: fixed;
    top:120px;
    left:0;
    width: 100%;
}

#featured {
    position: relative;
    z-index: 9;
}

.shares {
    display: inline-block;
    float: left;
    margin-top: 10px;
    width: 100%;
}

.shares-fb {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #557ccb;
    margin-bottom: 5px;
}

.shares-twitter {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #299dce;
    margin-bottom: 5px;
}

.shares-share {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: black;
    margin-bottom: 5px;
}


.shares-gifit {
    display:inline-block;
    width: 120px;
    height: 30px;
    background: #00ff00;
    margin-bottom: 5px;
    position: absolute;
    margin-left: 5px;
}

#camera-desktop-detail {
    float: right;
}

.camera-header {
    color: white;
    font-size: 2.3rem;
    text-transform: lowercase;
    font-weight: 700;
}

.camera-img-mobile {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 0 !important;
}


.camera-header-wrap {
/*    position: absolute;
    background-color: rgba(0,0,0, .6);*/
    color: white;
    display: block;
    bottom: -1px;
    font-size:1.4rem;
    text-transform: lowercase;
/*    padding-left: 5px;*/
    padding-right: 5px;
    z-index: 3;
}

.app-header {
    color: white;
    margin-left: 0;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.1rem;
    font-weight: bold;
}

.camera-header {
    color: white;
    margin:0 auto;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.1rem;
    font-weight: bold;
    border-top: 3px solid white;
    padding-top: 15px;
    display: inline-block;
}

#app-header-mobile, #app-header-mobile-2 {
    margin-top: 15px;
/*    margin-bottom: 20px;*/
}

.app-header {
    border-top: 3px solid white;
    padding-top: 15px;
}

@media (min-width: 980px) {
#camera-mobile {
    display: none;
}

#camera-desktop {
    display: block;
}

#camera-mobile-2 {
    display: none;
}

#player {
    display: block;
}

#app-header-desktop {
    padding-left: 0;
/*    position: absolute;*/

    text-align: center;
    right: 0;
    display: block;
    margin-top: 20px;
}

#app-header-mobile {
    display: none;
}

#app-header-mobile-2 {
  display: block;
}

.camera-header {
    vertical-align: middle;
}

#app-header-2 {
    margin-top: 15px;
    margin-bottom: 20px;
}
}

@media (min-width: 1028px) {
#app-header-desktop {
        bottom: 125px;
}
}

@media (max-width: 1028px) {
#app-header-desktop {
        bottom: 145px;
}
}

@media (max-width: 979px) {
#camera-mobile {
    display: block;
}

#camera-desktop {
    display: none;
}

#camera-mobile-2 {
    display: none;
}

#player {
    display: block;
}

#app-header-desktop {
    display: none;
}

#app-header-mobile {
    display: block;
    float: left;
}

#app-header-mobile-2 {
  display: none;
}
.orangebox.fixed {
    width: 280px;
    height: 70px;
    /* top: 44px; */
    position: fixed;
    padding-left: 177px;
    display: block;
}
.camera-header {
    vertical-align: middle;
}
#app-header-2 {
    margin-top: 15px;
    margin-bottom: 20px;
}
}

@media (max-width: 660px) {
#camera-mobile {
    display: block;
}

#camera-desktop {
    display: none;
}

#camera-mobile-2 {
    display: none;
}

#player {
    display: block;
}

#all-header-area {
    text-align: left;
}

.all-header {
    float: none;
    margin-top: 5px;
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.all-sponsor-logo {
    float: center;
    margin-top: -10px;
    margin-bottom: 15px;
}
#app-header-desktop {
    display: none;
}

#app-header-mobile {
    display: block;
}
#app-header-mobile-2 {
  display: none;
}
.camera-header {
    vertical-align: middle;
}
}

@media (max-width: 480px) {
#camera-mobile {
    display: none;
}
#camera-desktop {
    display: none;
}

#camera-mobile-2 {
    display: block;
    padding-right: 0;
}

#player {
    display: none;
}
#app-header-desktop {
    display: none;
}

.camera-header {
    vertical-align: middle;
}

.app-header, .camera-header {
  font-size: 2.4rem;
  line-height: 2.4rem;
}
}

#camera-mobile {
    padding-right: 0;
}

#camera-desktop {
    padding-left: 0;
}

.box-left, .box-right {  
    width: 48.6%;
    height: 48.6%;
/*  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);*/ 
    background: url("../../../images/testing/512x288.jpg");
    background-size:cover;
    overflow:hidden;
}

#overlay {  
    text-align:center;
    padding-top: 43.6%;
    padding-bottom: 1%;
    padding-left: 0;
    padding-right: 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: relative;
    z-index: 6;
}

.box-left {
    margin-right: 1%;
    float: left;
    margin-top: 2%;
}

.box-right {
    margin-left: 1%;
    float: right;
    margin-top: 2%;
}

#box-first {
    margin-top: 0;
}

.box-left:hover #overlay {opacity:1;}
.box-right:hover #overlay {opacity:1;}

#plus{ 
    font-family:Helvetica;
    font-weight:900;
    color:rgba(255,255,255,.85);
    font-size:1.6rem;
    vertical-align:center
}


.player {
    /*max-width: 768px;*/
    margin:0 auto;
}


.glitch {
  color: black;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(14px, 9999px, 77px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 55px, 0);
  }
  10% {
    clip: rect(69px, 9999px, 90px, 0);
  }
  15.0% {
    clip: rect(62px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(96px, 9999px, 54px, 0);
  }
  25% {
    clip: rect(90px, 9999px, 7px, 0);
  }
  30.0% {
    clip: rect(45px, 9999px, 92px, 0);
  }
  35% {
    clip: rect(66px, 9999px, 22px, 0);
  }
  40% {
    clip: rect(20px, 9999px, 19px, 0);
  }
  45% {
    clip: rect(99px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(37px, 9999px, 39px, 0);
  }
  55.0% {
    clip: rect(67px, 9999px, 95px, 0);
  }
  60.0% {
    clip: rect(23px, 9999px, 94px, 0);
  }
  65% {
    clip: rect(22px, 9999px, 58px, 0);
  }
  70% {
    clip: rect(49px, 9999px, 23px, 0);
  }
  75% {
    clip: rect(64px, 9999px, 42px, 0);
  }
  80% {
    clip: rect(74px, 9999px, 29px, 0);
  }
  85.0% {
    clip: rect(70px, 9999px, 86px, 0);
  }
  90% {
    clip: rect(39px, 9999px, 1px, 0);
  }
  95% {
    clip: rect(6px, 9999px, 69px, 0);
  }
  100% {
    clip: rect(14px, 9999px, 21px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #a0ffff;
  top: 0;
  color: white;
  background: rgba(0,0,0,0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
/*  -webkit-animation: noise-anim 2s infinite linear alternate-reverse;*/
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(42px, 9999px, 42px, 0);
  }
  5% {
    clip: rect(92px, 9999px, 59px, 0);
  }
  10% {
    clip: rect(36px, 9999px, 88px, 0);
  }
  15.0% {
    clip: rect(95px, 9999px, 68px, 0);
  }
  20% {
    clip: rect(45px, 9999px, 31px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 14px, 0);
  }
  30.0% {
    clip: rect(8px, 9999px, 43px, 0);
  }
  35% {
    clip: rect(45px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(29px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(13px, 9999px, 75px, 0);
  }
  50% {
    clip: rect(15px, 9999px, 34px, 0);
  }
  55.0% {
    clip: rect(37px, 9999px, 63px, 0);
  }
  60.0% {
    clip: rect(83px, 9999px, 46px, 0);
  }
  65% {
    clip: rect(31px, 9999px, 81px, 0);
  }
  70% {
    clip: rect(35px, 9999px, 59px, 0);
  }
  75% {
    clip: rect(42px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(74px, 9999px, 36px, 0);
  }
  85.0% {
    clip: rect(45px, 9999px, 83px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 51px, 0);
  }
  95% {
    clip: rect(2px, 9999px, 51px, 0);
  }
  100% {
    clip: rect(68px, 9999px, 35px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #a0ffff;
  top: 0;
  color: white;
  background: rgba(0,0,0,0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
/*  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;*/
}

.make-gif {
    margin: 0 auto;
    display: table;
    padding-top: 4px;
}

#make-gif-2 {
    margin-left: 5px;
}

.app-callout-header {
  color: white;
  margin-top: 12px;
  margin-bottom: 8px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

.app-callout-header-2 {
  margin-top: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 20px;
}

/*#app-callout {
  display: none;
}*/

#vn-click{
cursor:pointer;
display:inline-block
}

#vn-info{
display:none;
}

.icon-chevron-down:before {
  content: "\e612" !important;
  font-family: 'mtv' !important;
}

#vn-info-2 {
  display: none;
}

#aal-tl-header-wrap-2 {
  height: 100px;
}

@media (min-width: 660px){
  #tl-item-noimage {
    /*padding-top: 56.1%;*/
    height: 50vw;
  }
}

@media (min-width: 980px){
  #tl-item-noimage {
    /*padding-top: 56.1%;*/
    height: 35.3vw;
  }

}

@media (min-width: 1200px){
  #tl-item-noimage {
    /*padding-top: 56.1%;*/
    height: 423px;
  }
}

.video-icon:hover:active, .video-icon:hover:focus {
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease;
          transition: opacity 0.4s ease;
}
