@font-face {
    font-family: 'Gabriello';
    src: url('../../../fonts/Gabriello-Regular.otf');
    src: url('../../../fonts/Gabriello-Regular.otf') format('embedded-opentype'),
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gabriello';
    src: url('../../../fonts/Gabriello-Semibold.otf');
    src: url('../../../fonts/Gabriello-Semibold.otf') format('embedded-opentype'),
    font-weight: 700;
    font-style: normal;
}
