/*@media (min-width: 1200px){

#broadcast-vote-header {
padding-left: 0;
font-size: 6rem;
max-width: 90%;
}
}

@media (max-width: 1200px) {

#broadcast-vote-header {
padding-left: 0;
font-size: 5.5rem;
max-width: 90%;
bottom: 55%;
}
}

@media (max-width: 980px) {

#broadcast-vote-header {
padding-left: 0;
font-size: 5rem;
max-width: 90%;
bottom: 7vw;
}
}
@media (max-width: 660px){

#broadcast-vote-header {
padding-left: 0;
font-size: 3rem;
max-width: 90%;
top:-100px;
}
}*/





.broadcast-vote-header {
	position: relative;
	display: inline-block;
	font-size: 4.5rem;
	width: 100%;
	font-weight: 900;
	text-transform: uppercase;
	color:#321446;
	top: 2rem;
	line-height: 3.3rem;
}

@media (min-width: 1200px) {
.broadcast-hero-sponsor {
	display: inline-block;
	float: right;
	vertical-align: middle;
	text-align: right;
    position: relative;
	top: 30px;
}
#vma-green {
	padding-right: 10px;
}

#broadcast-page-descr-bg {
	padding-top: 10px;
	padding-bottom: 50px;
}
}

@media (max-width: 1199px) {
.broadcast-hero-sponsor {
	display: block;
	margin:0 auto;
	text-align: center;
	position: relative;
	top: 25px;
	padding-bottom: 20px;
}

#broadcast-page-descr-bg {
	padding-top: 0px;
	padding-bottom: 40px;
}

#vma-green {
	margin:0 auto;
	display: block;
	padding-bottom: 30px;
}

.broadcast-vote-header {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}
}

#broadcast-item-title-md {
	font-size: 2rem !important;
	line-height: 2.2rem;
	padding-bottom: 5px;
}

/*#broadcast-item-title-lg {
	font-size: 2.5rem !important;
	line-height: 2.7rem;
	padding-bottom: 5px;
}*/

.atw-hashtag-desktop {
    text-align: left;
}

.vs {
	position: absolute;
	vertical-align: middle;
	margin: 0 auto;
	z-index: 6;
	top: 45%;
	left: 47.6%;
	color: #321446;
	background-color: white;
	border-radius: 100%;
	padding:10px;
	font-size: 3rem;
	font-weight: bold;
}

@media (max-width: 980px) {
.vs {
	top: 47.5%;
	left: 47.5%;
	font-size: 2rem;
	padding:7px;
}
}

@media (max-width: 660px) {
.vs {
	top: 50%;
	left: 47%;
	font-size: 1.5rem;
	padding:5px;
}
}

@media (max-width:480px) {
#atw-twitter {
	display: none;
}
.vs {
	font-size: 1.6rem;
	top: 58%;
	left: 47%;
	padding:3px;
}
}

.atw-vote-winner {
	display: inline-block;
	background-color:#fff200;
	color: #321446;
	font-family: 'AkzidenzGrotesk Cnd', san-serif;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	position: absolute;
	text-transform: uppercase;
	z-index: 4;
	left: 0;
	font-weight: 700;
}

@media (min-width: 980px){
	.atw-vote-winner {
		font-size: 3.5rem;
		bottom: 55px;
	}

}

@media (max-width: 980px){
    .atw-vote-winner {
		font-size: 2.4rem;
		bottom: 45px;
	}

}

@media (max-width: 480px){
    .atw-vote-winner {
		font-size: 2.0rem;
		bottom: 0px;
	}
}

.sv-vote-winner-2 {
	display: inline-block;
	background-color:#fff200;
	color: #321446;
	font-family: 'AkzidenzGrotesk Cnd', san-serif;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	position: absolute;
	text-transform: uppercase;
	z-index: 4;
	left: 0;
	bottom: 0;
	font-weight: 700;
}

#sv-vote-winner-2 {
	left:80px;
}

@media (min-width: 980px){
	.sv-vote-winner-2 {
		font-size: 3.5rem;
	}

	#winner-left {
		left: 110px;
		position: relative;
	}

	#atw-container {
		padding-top: 20px;
	}

}

@media (max-width: 980px){
    .sv-vote-winner-2 {
		font-size: 3.0rem;
	}

	#winner-left {
		left: 95px;
		position: relative;
	}

	#atw-container {
		padding-top: 20px;
	}
}

@media (max-width: 480px){
    .sv-vote-winner-2 {
		font-size: 3.0rem;
	}

	#atw-container {
		padding-top: 5px;
	}
}

#atw-twitter {
	font-size: 2rem;
}

#video-bg {
	position: absolute;
}

@media (min-width: 1200px) {
	#video-bg {
	width: 100%;
}

@media (max-width: 1199px) {
	#video-bg {
	height: 100%;
}
}