#sv-page-descr-bg {
	padding-top: 60px;
}

/*@media (min-width: 980px) {
.sv-hero-sponsor {
	top: 0;
}
}*/

.sv-hero-descr h2 {
	color: #321446;
    text-transform: uppercase;
    font-weight: 900;
}

#voting {
	background:url("../../../images/vma/vma_pattern_glitch_025.gif")
}

.social-message {
	color: black;
}

#sv-hashtag-mobile {
	display: block;
	float: left;
}

/*@media (max-width: 980px) {
	#sv-hashtag-mobile {
	padding-top: 5px;
}
}*/

@media (max-width: 660px) {
	#sv-hashtag-mobile {
	position: relative;
	top: 5px;
	margin-top: 5px;
}
}

.social-message {
    font-size: 2.8rem;
    line-height: 2.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

#sv-twitter {
	background-color: #321446;
	line-height: 2rem;
	color: #a0ffff;
}

.sv-vote-winner {
	display: inline-block;
	background-color:#fff200;
	color: #321446;
	font-family: 'AkzidenzGrotesk Cnd', san-serif;
	margin-right: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	position: absolute;
	text-transform: uppercase;
	z-index: 4;
	left: 0;
	bottom: 0;
	font-weight: 700;
}

#sv-vote-winner {
	left:80px;
}

@media (min-width: 980px){
	.sv-vote-winner {
		font-size: 2.4rem;
	}

}

@media (max-width: 980px){
    .sv-vote-winner {
		font-size: 2.0rem;
	}

	#sv-vote-winner {
	left:70px;
}
}

@media (max-width: 480px){
    .sv-vote-winner {
		font-size: 2.0rem;
	}
}

.sv-item-title-lg, span.sv-item-title-md {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1.4rem;
}

.overlay8:after {
	background: linear-gradient(-180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.0) 27%, rgba(0, 0, 0, 0.0) 67%, rgba(50, 20, 70, 0.8) 100%);
}

.social-message {
	margin:0;
}
.sv-item-group {
	margin-top:0;
	padding-top: 0;
}
@media (min-width: 980px) {
#tw-vote-nominee-btn {
	position: relative;
	right: 5px;
	top: 3px
}
}

@media (max-width: 980px) {
#tw-vote-nominee-btn {
	position: relative;
	right: 5px;
	top: 3px
}

#sv-hashtag-mobile {
	left: 5px;
}
}

.sv-header {
	font-size: 1.8rem!important;
	text-transform: capitalize;
	color: white;
	font-weight: 700;
	padding-top: 2.5px;
	padding-left: 2.5%;
}

span.sv-item-title-lg, span.sv-item-title-md {
	text-align: left !important;
	font-size:1.4rem!important;
	font-weight: 400 !important;
}


@media (min-width: 1200px){

#sv-vote-header {
padding-left: 0;
font-size: 6rem;
max-width: 90%;
font-weight: 900;
}
}

@media (max-width: 1200px) {

#sv-vote-header {
padding-left: 0;
font-size: 5.5rem;
max-width: 90%;
bottom: 45px;
font-weight: 900;
margin-top: 0;
}
}

@media (max-width: 980px) {

#sv-vote-header {
padding-left: 0;
font-size: 5rem;
max-width: 90%;
bottom: 60px;
font-weight: 900;
}
}
@media (max-width: 660px){

#sv-vote-header {
padding-left: 0;
font-size: 3rem;
max-width: 90%;
top:-80px;
font-weight: 900;
}
}

@media (max-width: 480px){

#sv-vote-header {
padding-left: 0;
font-size: 3rem;
max-width: 90%;
top:-70px;
font-weight: 900;
}
}
