@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic');

body {
	background-color: #fff;
	color: #35312e;
	font-family: 'Open Sans', sans-serif;;
}

/*.navbar, .btn, [class*="section-header-"], [class*="headline"], [class*="display-"]  {
	font-family: 'Source Sans Pro', sans-serif;
}*/

hr /* white line and dark line */ {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}


/* navbar ------------------------------------------- */
.navbar .title, .navbar .nav-collapse {
	text-transform: uppercase;
}
.navbar-inner .nav > li > a {
	font-weight: 500;
}


/* buttons ------------------------------------------- */
.btn, .btn-cta, .btn.btn-primary {
    background-color: #eb6e1e;
}
.btn.btn-secondary {
	background-color: #35312e;
}


/* typography ----------------------------------------- */
p a { 
	color: #eb6e1e;
}

[class*="section-header-"], 
[class*="headline"], [
class*="display-"]  {
	font-weight: 700;
}

/* section-headers */
.section-header-xlg {
	font-size: 3.6rem;
}
.section-header-lg {
	font-size: 2.4rem;
}
.section-header-md {
	font-size: 2.2rem;
}
.section-header-sm {
	font-size: 1.8rem;
}

.highlight {
	background-color: #78c8de;
	color: #fff;
}

/* labels/markers ------------------------------------- */
.label {
	font-weight: 600;
	text-transform: uppercase;
}
a.label {
	background-color: #eb6e1e;
} 
a.label:hover {
    background-color: #ee8a4a;
}
.item .marker {
	background-color: #35312e;
}
.item .flag {
	background-color: #78c8de;
}
.item .flag small {
	margin-top: 0.2em;
}


/* item ----------------------------------------------- */
.item .meta-wrap .label {
	margin-top: -3rem;
    padding: 0.3rem 0.7rem 2.2rem;
}
.item[class*="postcard-"] .meta-wrap .label {
	padding: 0.3rem 0.7rem 0.3rem;
}
.item .meta-wrap .header {
	font-weight: 700;
}
.item .meta-wrap .sub-header {
	font-weight: 600;
}
.item .meta-wrap .meta {
	color: #eb6e1e;
}


/* layouts --------------------------------------------- */
.postcard-left > div:first-child, .postcard-left-wrap > div:first-child {
	margin-right: 0;
}
.item[class*="postcard-"] .meta-wrap * {
	margin-left: 15px;
}
.item[class*="postcard-"] .meta-wrap .label {
	margin-left: 0;
}


/* patterns ------------------------------------------- */
.filters {
	text-transform: uppercase;
}
.filters .dropdown.filter dt a {
	color: #fff;
}

.dropdown.hybrid-dropdown-mobile .dropdown-menu li.active {
	background-color: #fff;
	padding: 1px 5px 2px;
	margin-bottom: 11px;
}
.dropdown.hybrid-dropdown-mobile .dropdown-menu li.active {
    border-bottom: none;
}
.dropdown.hybrid-dropdown-mobile .dropdown-menu li.active a {
	color: #000;
}


/* footer.css ----------------------------------------- */
footer {
	margin: 0 0 15px;
	background-color: #000;
	color: #666;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: rgba(255,255,255,0.7);
}
footer #social {
	margin: 15px 0 30px;
	padding: 15px 0;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
}




/* homepage.css ----------------------------------------- */
.jumbotron-background {
	border-bottom-width: 10px;
}




/* cast-detail.css ----------------------------------------- */
.cast-detail .colmask {
	background-color: #ffffff;
}
.cast-detail .page-content-container {
	background-color: #f1f1f1;
}
.cast-detail .name-container {
    background-color: #E62932;
    bottom: 0;
    left: 0;
    position: absolute;
    text-transform: uppercase;
}
.cast-detail .name-container .wrapper {
    padding: 5px 5px 0;
    margin-bottom: -5px;
}
.cast-detail #sec-related-container {
	border-top: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}
.cast-detail .nav-content {
	margin-left: 0;
	margin-right: 0;
}
.cast-detail .nav-content li {
	padding: 0 10px;
}
.cast-detail .nav-content li:nth-child(odd) {
	background-color: #f1f1f1;
}




/* shows theme.css (default) ----------------------------------------- */
.jumbotron-background {
	border-bottom-color: #000;
}

/* primary color */
.navbar-inner, .navbar-inner .nav-collapse, .btn-primary, .btn-cta {
	background-color: #eb6e1e;
}
.navbar-inner, .btn, .btn:hover, .btn-cta, .btn-cta:hover {
	color: #fff;
}

/* secondary color */
.hp-content .tune-in, .sub-navbar, .sub-navbar .filters .dropdown-menu, .cast-detail .name-container {
	background-color: #e62932;
}
.jumbotron-background {
    border-bottom-color: #e62932;
}
.hp-content .tune-in, .item .flag, .sub-navbar .filters a, .cast-detail .name-container {
	color: #fff;
}




/* dark-theme.css ----------------------------------------- */
body.darkTheme {
	background-color: #000;
	color: #fff;
}

body.darkTheme .item.promo-block .meta-wrap {
	background-color: #313131;
}


.mtv, .vh1, .core, .logo { display: none; }
.cmt { display: block; }
